*,
*::after,
*::before {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0;
  font-family: "IBM Plex Sans Arabic", sans-serif;
}
html {
  direction: rtl;
}
.layout {
  height: 100vh;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-areas:
    "sidebar main"
    "sidebar main"
    "sidebar main";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
p {
  padding: 0;
  margin: 0;
  color: #4a5565;
}
ul {
  list-style-type: none;
  padding-right: 30px;
}

.sidebar {
  overflow-y: auto;
  grid-area: sidebar;
  border-left: 2px solid black;
  height: 100%;
}
.sidebar-logo {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.sidebar-logo .logo-img {
  background-color: white;
  margin-inline: 15px;
  background-color: #2953f4;
  padding: 12px 17px;
  border-radius: 16px;
  font-size: 25px;
  color: white;
}

.nav-links ul li {
  margin: 35px 0;
  cursor: pointer;
}
.nav-links ul li div {
  padding: 10px;
  border-radius: 10px;
  width: 85%;
}
.nav-links ul li div:hover {
  background-color: #f9fafb;
}
.nav-links ul li span {
  font-weight: 600;
}
.nav-links ul li i {
  margin-inline: 10px;
  color: #4a5565;
}
.nav-links ul li span span {
  color: #4a5565;
}

.nav-links .active-link {
  background-color: #eff6ff;
  width: 85%;
  border-radius: 10px;
  padding: 10px 0;
  border: 1px solid #dbeafe;
}
.quick-actions p {
  margin-right: 20px;
}
.active-link .active-link-span i {
  color: #155dfc;
}
.active-link .active-link-span span {
  color: #155dfc;
}

.quick-actions ul li {
  margin: 35px 0;
  cursor: pointer;
}
.quick-actions ul li div {
  padding: 10px;
  border-radius: 10px;
  width: 85%;
}
.quick-actions ul li div:hover {
  background-color: #fafafa;
  transform: translateX(2px);
  transition: 0.2s;
}
.quick-actions ul li span {
  font-weight: 600;
}
.quick-actions ul li i {
  margin-inline: 10px;
  padding: 12px 12px;
  border-radius: 8px;
}
.text-blue {
  color: #2b7fff;
  background-color: #dbe8fc;
}
.text-green {
  color: #00c951;
  background-color: #d5f3e1;
}
.text-purple {
  color: #ad46ff;
  background-color: #efe0fc;
}
.text-orange {
  color: #f54a00;
  background-color: #fce5d5;
}

.main {
  /* background-color: #09c; */
  grid-area: main;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
  gap: 0px 0px;
  grid-template-areas:
    "grid-1 grid-1 grid-1 grid-1 grid-1 grid-1 grid-1 grid-1 grid-1"
    "grid-2 grid-2 grid-2 grid-3 grid-3 grid-3 grid-4 grid-4 grid-4"
    "grid-6 grid-6 grid-6 grid-5 grid-5 grid-5 grid-5 grid-5 grid-5"
    "grid-7 grid-7 grid-7 grid-5 grid-5 grid-5 grid-5 grid-5 grid-5"
    "grid-8 grid-8 grid-8 grid-9 grid-9 grid-9 grid-11 grid-11 grid-11"
    "grid-8 grid-8 grid-8 grid-9 grid-9 grid-9 grid-11 grid-11 grid-11"
    "grid-8 grid-8 grid-8 grid-10 grid-10 grid-10 grid-11 grid-11 grid-11"
    "grid-8 grid-8 grid-8 grid-10 grid-10 grid-10 grid-11 grid-11 grid-11";
}
.grid-1 {
  grid-area: grid-1;
  /* background-color: #09c; */
}
.grid-1 .container {
  width: 95%;
  margin: 20px auto;
  border: 2px solid #f6f7f9;
  box-shadow: 2px 2px #0000001a;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  padding: 15px 15px;
}
.grid-1 .right-side {
  display: flex;
  text-align: center;
  align-items: center;
  /* width: 75 */
}
.grid-1 .right-side .connect {
  margin-top: 10px;
  margin-right: 45px;
  background-color: #f0fdf4;
  padding: 5px;
  border-radius: 15px;
  width: 100px;
}
.connect .online {
  color: #48d882;
}
.grid-1 .left-side {
  display: flex;
  align-items: center;
}
.left-side button {
  height: 35px;
  width: 35px;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  font-size: 15px;
  color: #364153;
  margin-inline: 10px;
}
.left-side button:hover {
  background-color: #f3f4f6;
}
.left-side .notifications {
  position: relative;
}
.left-side .notifications .noification-num {
  color: white;
  background-color: red;
  border-radius: 50%;
  padding: 0px 4px;
  font-size: 13px;
  font-weight: 500;
  position: absolute;
  right: 6px;
  top: -8px;
}
.left-side .profile {
  display: flex;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  padding: 8px 12px;
  box-shadow: 1px 1px #f6f3f4;
}
.left-side .profile:hover {
  box-shadow: 1px 3px #f6f3f4;
}
.left-side .profile .name {
  margin-inline: 10px;
}
.left-side .profile .name h4 {
  font-size: 14px;
}
.left-side .profile .name p {
  font-size: 12px;
  font-weight: 700;
}
.left-side .profile .profile-img img {
  width: 100%;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 15px;
}

.grid-2 {
  /* background-color: red; */
  grid-area: grid-2;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.grid-2 .balance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 20px 15px;
  box-shadow: 1px 1px 1px 1px #e5e7eb;
  margin-left: 20px;
  margin-right: 25px;
  margin-bottom: 15px;
}
.grid-2 .balance p {
  font-size: 20px;
}
.grid-2 .balance h2 {
  font-size: 40px;
}
.grid-2 .balance span {
  font-size: 18px;
  color: #00c951;
}

.grid-3 {
  grid-area: grid-3;
  /* background-color: yellow; */

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.grid-3 .income {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 20px 15px;
  box-shadow: 1px 1px 1px 1px #e5e7eb;
  margin-left: 20px;
  margin-right: 25px;
  margin-bottom: 15px;
}
.grid-3 .income p {
  font-size: 20px;
}
.grid-3 .income h2 {
  font-size: 40px;
}
.grid-3 .income span {
  font-size: 18px;
  color: #00c951;
}
.grid-4 {
  grid-area: grid-4;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.grid-4 .expenses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 20px 15px;
  box-shadow: 1px 1px 1px 1px #e5e7eb;
  margin-left: 20px;
  margin-right: 25px;
  margin-bottom: 15px;
}
.grid-4 .expenses p {
  font-size: 20px;
}
.grid-4 .expenses h2 {
  font-size: 40px;
}
.grid-4 .expenses span {
  font-size: 18px;
  color: #f54a00;
}
.grid-5 {
  grid-area: grid-5;
  /* background-color: green; */
}

.card {
  margin: auto 10px;
  background: #fff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
  border: 1px solid #e5e7eb;
}

/* Header */
.card .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card .header a {
  color: #6b7280;
  text-decoration: none;
}

/* Table */
.card .table {
  margin-top: 20px;
}

/* Row */
.card .table .row {
  display: flex;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}

/* Columns */
.card .table .row .col {
  width: 20%;
  text-align: center;
}

/* first column */
.card .table .row .user-col {
  width: 30%;
  text-align: right;
}

/* last column */
.card .table .row .amount-col {
  width: 15%;
  text-align: left;
}

/* header style */
.card .table .row.head {
  color: #9ca3af;
  font-size: 14px;
}

/* user */
.card .table .row .user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card .table .row .user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.card .table .row .user p {
  margin: 0;
  font-weight: bold;
}

.card .table .row .user span {
  font-size: 12px;
  color: #777;
}

/* icons */
.card .table .row .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.card .table .row .icon.orange {
  background-color: #ffedd4;
  color: #ea580c;
}
.card .table .row .icon.blue {
  background-color: #dbeafe;
  color: #2563eb;
}
.card .table .row .icon.red {
  background-color: #ffe2e2;
  color: #dc2626;
}
.card .table .row .icon.purple {
  background-color: #e0e7ff;
  color: #7c3aed;
}
.card .table .row .icon.cyan {
  background-color: #cefafe;
  color: #0891b2;
}
.card .table .row .icon.green {
  background-color: #d0fae5;
  color: #16a34a;
}

/* tags */
.card .table .row .tag {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.card .table .row .tag.green {
  background: #dcfce7;
  color: #16a34a;
}
.card .table .row .tag.orange {
  background: #ffedd5;
  color: #ea580c;
}
.card .table .row .tag.blue {
  background: #dbeafe;
  color: #2563eb;
}
.card .table .row .tag.red {
  background: #fee2e2;
  color: #dc2626;
}
.card .table .row .tag.purple {
  background: #ede9fe;
  color: #7c3aed;
}
.card .table .row .tag.cyan {
  background: #cffafe;
  color: #0891b2;
}

.card .table .row .status {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.card .table .row .status.done {
  background: #dcfce7;
  color: #16a34a;
}

.card .table .row .status.pending {
  background: #fef3c7;
  color: #d97706;
}

/* amount */
.card .table .row .amount-col.plus {
  color: #16a34a;
  font-weight: bold;
}

.card .table .row .amount-col.minus {
  color: #111827;
  font-weight: bold;
}

.grid-6 {
  grid-area: grid-6;
  /* background-color: teal; */
}
.grid-6 .inner {
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 20px 15px;
  box-shadow: 1px 1px 1px 1px #e5e7eb;
  margin-left: 20px;
  margin-right: 25px;
  margin-bottom: 15px;
}
.grid-6 .inner .new-savings {
  margin-top: 10px;
}
.grid-6 .inner .new-card {
  margin-top: 10px;
}
.inner .new-savings .container {
  border-radius: 12px;
  border-left: 5px solid #2b7fff;
  display: flex;
  justify-content: space-between;
  background-color: #eff6ff;
  padding: 10px;
}
.inner .new-savings .container .left-side .left-side-icon {
  background-color: #dbeafe;
  color: #155dfc;
  padding: 10px;
  border-radius: 50%;
  margin-left: 10px;
}
.new-savings .container .left-side .left-side-text p {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 10px;
}
.new-savings .container .left-side .left-side-text span {
  font-size: 12px;
  font-weight: 600;
  color: #4a5565;
}
.inner .new-savings .container .right-side {
  display: flex;
  justify-content: flex-end;
}
.inner .new-savings .container .right-side span {
  color: #155dfc;
  font-size: 14px;
  font-weight: 500;
}

/*  */

.inner .new-card .container {
  border-radius: 12px;
  border-left: 5px solid #00c950;
  display: flex;
  justify-content: space-between;
  background-color: #f0fdf4;
  padding: 10px;
}
.inner .new-card .container .left-side .left-side-icon {
  background-color: #f0fdf4;
  color: #00c950;
  padding: 10px;
  border-radius: 50%;
  margin-left: 10px;
}
.new-card .container .left-side .left-side-text p {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 10px;
}
.new-card .container .left-side .left-side-text span {
  font-size: 12px;
  font-weight: 600;
  color: #4a5565;
}
.inner .new-card .container .right-side {
  display: flex;
  justify-content: flex-end;
}
.inner .new-card .container .right-side span {
  color: #00c950;
  font-size: 14px;
  font-weight: 500;
}

.grid-7 {
  grid-area: grid-7;
  /* background-color: turquoise; */
}
.grid-7 .container {
  /* background-color: #00c950; */
  border-radius: 16px;
  padding: 20px;
  box-shadow: 1px 1px #f6f3f4;
  border: 1px solid #e5e7eb;
  margin-left: 20px;
  margin-right: 25px;
  margin-bottom: 15px;
}
.grid-7 .container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.grid-7 .container .header span {
  cursor: pointer;
  color: #6b7280;
}
.grid-7 .container .total {
  text-align: center;
}
.grid-7 .container .total h4 {
  font-size: 25px;
}
.grid-7 .container .total p {
  font-size: 15px;
  font-weight: 500;
}

.monthly-bill {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "internet electricity"
    "phone netfilex ";
}
.bill {
  text-align: center;
  margin: 20px;
  border: 2px solid #f3f4f6;
  padding: 15px;
  border-radius: 10px;
  background-color: #f9fafb;
}
.bill h5 {
  font-size: 25px;
  font-weight: 600;
}
.bill p {
  font-size: 18px;
  font-weight: 500;
}
.bill span {
  font-size: 12px;
  font-weight: 500;
}

.electricity {
  grid-area: electricity;
}

.internet {
  grid-area: internet;
}

.netfilex {
  grid-area: netfilex;
}

.phone {
  grid-area: phone;
}
.electricity i {
  background-color: #fef9c2;
  border-radius: 10px;
  color: #d08700;
  padding: 15px;
}
.internet i {
  background-color: #dbeafe;
  border-radius: 10px;
  color: #155dfc;
  padding: 15px;
}
.netfilex i {
  background-color: #ffe2e2;
  border-radius: 10px;
  color: #e7000b;
  padding: 15px;
}
.phone i {
  background-color: #dbfce7;
  border-radius: 10px;
  color: #00a63e;
  padding: 15px;
}
.electricity span {
  color: #d08700;
}
.internet span {
  color: red;
}
.netfilex span {
  color: #6a7282;
}
.phone span {
  color: #00a63e;
}

.grid-8 {
  grid-area: grid-8;
  /* background-color: goldenrod; */
}
.grid-8 .container {
  /* background-color: #00c950; */
  border-radius: 16px;
  padding: 20px;
  box-shadow: 1px 1px #f6f3f4;
  border: 1px solid #e5e7eb;
  margin-left: 20px;
  margin-right: 25px;
  margin-bottom: 15px;
}
.grid-8 .container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.grid-8 .container .header a {
  cursor: pointer;
  text-decoration: none;
  color: #6b7280;
}
.grid-8 .container .wrapper-1 {
  margin: 15px 0px;
  background-color: #eff5ff;
  padding: 15px;
  border-radius: 10px;
}
.grid-8 .container .total-budget {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.grid-8 .container .total-budget .left-side {
  display: block;
}
.container .total-budget .right-side p {
  font-size: 14px;
  font-weight: 500;
  color: #155dfc;
}
.container .total-budget .right-side h4 {
  font-size: 24px;
  color: #1c398e;
  font-weight: 700;
}
.container .total-budget .left-side p {
  font-size: 14px;
  color: #6a7282;
}
.container .total-budget .left-side h5 {
  font-size: 18px;
  color: #00a63e;
  font-weight: 600;
}
.grid-8 .container .user {
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.grid-8 .container .user span {
  font-size: 12px;
  color: #4a5565;
}
.grid-8 .container .process {
  width: 100%;
  height: 10px;
  background-color: #e5e7eb;
  border-radius: 10px;
}
.grid-8 .container .process .blue-process {
  width: 82.5%;
  height: 10px;
  background-color: #307eff;
  border-radius: 10px;
}
.grid-8 .container .wrapper-2 {
  margin: 15px 0px;
  background-color: #f9fafb80;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #e5e7ebcc;
  transition: all 0.2s;
}
.grid-8 .container .wrapper-2:hover {
  background: #f3f4f6cc;
  border-color: #d1d5dbe6;
  transform: translateY(-1px);
  box-shadow: 0px 1px 1px 1px #e6e6e680;
}
.grid-8 .container .wrapper-2 .entertainment {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 10px;
}
.wrapper-2 .entertainment .right-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 48%;
}
.entertainment .right-side .icon {
  padding: 12px;
  border-radius: 8px;
  background-color: #ffedd4;
  color: #f54a00;
  justify-content: center;
  align-items: center;
}
.entertainment .right-side .text p {
  color: #101828;
  font-weight: 500;
}
.entertainment .right-side .text .budget {
  color: #6a7282;
  font-size: 12px;
}
.entertainment .left-side p {
  color: #101828;
  font-weight: 500;
}
.entertainment .left-side .green-span {
  background-color: #dcfce7;
  color: #166534;
  font-weight: 500;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 10px;
}
.grid-8 .container .process .orange-process {
  width: 50%;
  height: 10px;
  background-color: #ff6900;
  border-radius: 10px;
}

.grid-8 .container .wrapper-3 {
  margin: 15px 0px;
  background-color: #f9fafb80;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #e5e7ebcc;
  transition: all 0.2s;
}
.grid-8 .container .wrapper-3:hover {
  background: #f3f4f6cc;
  border-color: #d1d5dbe6;
  transform: translateY(-1px);
  box-shadow: 0px 1px 1px 1px #e6e6e680;
}
.grid-8 .container .wrapper-3 .bills {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 10px;
}
.wrapper-3 .bills .right-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 48%;
}
.bills .right-side .icon {
  padding: 12px;
  border-radius: 8px;
  background-color: #fee2e2;
  color: #e7000b;
  justify-content: center;
  align-items: center;
}
.bills .right-side .text p {
  color: #101828;
  font-weight: 500;
}
.bills .right-side .text .budget {
  color: #6a7282;
  font-size: 12px;
}
.bills .left-side p {
  color: #101828;
  font-weight: 500;
}
.bills .left-side .red-span {
  background-color: #fee2e2;
  color: #991b1b;
  font-weight: 500;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 10px;
}
.grid-8 .container .process .red-process {
  width: 100%;
  height: 10px;
  background-color: #fb2c36;
  border-radius: 10px;
}

.grid-8 .container .wrapper-4 {
  margin: 15px 0px;
  background-color: #f9fafb80;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #e5e7ebcc;
  transition: all 0.2s;
}
.grid-8 .container .wrapper-4:hover {
  background: #f3f4f6cc;
  border-color: #d1d5dbe6;
  transform: translateY(-1px);
  box-shadow: 0px 1px 1px 1px #e6e6e680;
}
.grid-8 .container .wrapper-4 .personal-care {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 10px;
}
.wrapper-4 .personal-care .right-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 48%;
}
.personal-care .right-side .icon {
  padding: 12px;
  border-radius: 8px;
  background-color: #fce7f3;
  color: #e60076;
  justify-content: center;
  align-items: center;
}
.personal-care .right-side .text p {
  color: #101828;
  font-weight: 500;
}
.personal-care .right-side .text .budget {
  color: #6a7282;
  font-size: 12px;
}
.personal-care .left-side p {
  color: #101828;
  font-weight: 500;
}
.personal-care .left-side .brown-span {
  background-color: #fef3c7;
  color: #92400e;
  font-weight: 500;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 10px;
}
.grid-8 .container .process .purple-process {
  width: 80%;
  height: 10px;
  background-color: #f6339a;
  border-radius: 10px;
}

.grid-8 .container .wrapper-5 {
  margin: 15px 0px;
  background-color: #f9fafb80;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #e5e7ebcc;
  transition: all 0.2s;
}
.grid-8 .container .wrapper-5:hover {
  background: #f3f4f6cc;
  border-color: #d1d5dbe6;
  transform: translateY(-1px);
  box-shadow: 0px 1px 1px 1px #e6e6e680;
}
.grid-8 .container .wrapper-5 .home-supplies {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 10px;
}
.wrapper-5 .home-supplies .right-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 48%;
}
.home-supplies .right-side .icon {
  padding: 12px;
  border-radius: 8px;
  background-color: #dcfce7;
  color: #166534;
  justify-content: center;
  align-items: center;
}
.home-supplies .right-side .text p {
  color: #101828;
  font-weight: 500;
}
.home-supplies .right-side .text .budget {
  color: #6a7282;
  font-size: 12px;
}
.home-supplies .left-side p {
  color: #101828;
  font-weight: 500;
}
.home-supplies .left-side .brown-span {
  background-color: #fef3c7;
  color: #92400e;
  font-weight: 500;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 10px;
}
.grid-8 .container .process .green-process {
  width: 86%;
  height: 10px;
  background-color: #166534;
  border-radius: 10px;
}

.grid-9 {
  grid-area: grid-9;
}
.grid-9 .container {
  border-radius: 16px;
  padding: 20px;
  box-shadow: 1px 1px #f6f3f4;
  border: 1px solid #e5e7eb;
  margin-left: 20px;
  margin-right: 25px;
  margin-bottom: 15px;
}

.grid-9 .container .income-expenses {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.grid-9 .container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.grid-9 .container .header a {
  cursor: pointer;
  text-decoration: none;
  color: #6b7280;
}
.container .income-expenses .income {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 12px;
  color: #64748b;
}
.container .income-expenses .income .legend-income {
  border-radius: 2px;
  width: 12px;
  height: 12px;
  background-color: #10b981;
}
.container .income-expenses .expenses {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 12px;
  color: #64748b;
}
.container .income-expenses .expenses .legend-expenses {
  border-radius: 2px;
  width: 12px;
  height: 12px;
  background-color: #ef4444;
}
.grid-9 .container .chart-grouped {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
.grid-9 .container .chart-grouped .chart-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  margin: 0 0.25rem;
}
.grid-9 .container .chart-grouped .chart-group .chart-bar {
  display: flex;
  align-items: flex-end;
  gap: 2px;
  height: 160px;
}
.chart-grouped .chart-group .chart-bar .bar-income {
  background-color: #10b981;
  border-radius: 3px 3px 0 0;
  width: 16px;
}
.chart-grouped .chart-group .chart-bar .bar-income:hover {
  opacity: 0.3;
}
.chart-grouped .chart-group .chart-bar .bar-expense {
  background-color: #ef4444;
  border-radius: 3px 3px 0 0;
  width: 16px;
}
.chart-grouped .chart-group .chart-bar .bar-expense:hover {
  opacity: 0.3;
}
.income-1 {
  height: 95px;
}
.expense-1 {
  height: 42px;
}

.income-2 {
  height: 98px;
}
.expense-2 {
  height: 45px;
}
.income-3 {
  height: 92px;
}
.expense-3 {
  height: 38px;
}
.income-4 {
  height: 96px;
}
.expense-4 {
  height: 45px;
}
.chart-grouped .chart-group .chart-label {
  color: #64748b;
  text-align: center;
  margin-top: 8px;
  font-size: 12px;
}

.grid-10 {
  grid-area: grid-10;
  background-color: blueviolet;
}
.grid-11 {
  grid-area: grid-11;
  background-color: burlywood;
}
.grid-11 .container {
  border-radius: 16px;
  padding: 20px;
  box-shadow: 1px 1px #f6f3f4;
  border: 1px solid #e5e7eb;
  margin-left: 20px;
  margin-right: 25px;
  margin-bottom: 15px;
}
.grid-11 .container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.grid-11 .container .header a {
  cursor: pointer;
  text-decoration: none;
  color: #6b7280;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 250px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-top: 10px;
  border-radius: 10px;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  
}

.flip-card-back {
 background-color:#061025;
  color: white;
  transform: rotateY(180deg);
}

.flip-1{
  background-color: #372aac;
}


.primary-badge {
  color: #fff;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background: #ffffff24;
  border-radius: 999px;
  padding: 6px 10px;
  font-size: 0.72rem;
  font-weight: 700;
  position: absolute;
  top: 10px;
  left: 12px;
}
.flip-card-front .head {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px;
  border-radius: 10px;
}
.flip-card-front .head .right-hand .logo {
  width: 48px;
  height: 32px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.373);
}
.flip-card-front .head .right-hand .logo .shape-logo {
  width: 24px;
  height: 16px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.215);
}
.flip-card-front .head .left-hand .icon{
  color: white;
    font-size: 24px;
}
.flip-card-front .main{
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-inline: 20px;
  margin-top: 20px;
}
.flip-card-front .main p{
  font-size: 20px;
  color: white;
  font-weight: 700;
}
.flip-card-front .main .footer{
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.flip-card-front .main .footer p{
   font-size: 15px;
  color: white;
  font-weight: 700;
}
.linear{
 background: linear-gradient(90deg, #000, #111 40%, #2b2b2b);
    border-radius: 3px;
    height: 45px;
    margin-top: 6px;
    margin: 18px;
}
.flip-card-back .signature{
  display: flex;
  text-align: end;
  font-size: 10px;
  padding-inline: 18px;
  color: #a3afbf;
}

.serial-num{
  display: flex;
  padding: 15px;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  margin: 18px;
  height: 20px;
  border-radius: 3px;
}
.serial-num .scribble{
  width: 85%;
  height: 15px;
  background-color: #C8CBCD;
}
.serial-num .last4{
  color: #000;
  font-weight: 600;
}

